body{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
}

header {
    font-size: 1rem;
    height: 60px;
    background-color: #4c76d6;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav{
    display: flex;
    
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

nav ul{
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 8px;

}

.custom-link:visited {
    color: #f1f5fd; /* Puedes elegir cualquier color que desees */
  }

nav a{
    text-decoration: none;
}